.chat__messages__message
 .chat__messages__message__upper
  .chat__messages__message__upper__user-name user-name
  .chat__messages__message__upper__date 2018/08/27    
 .chat__messages__message__lower-content testtest

.chat__messages__message
 .chat__messages__message__upper
  .chat__messages__message__upper__user-name user-name2
  .chat__messages__message__upper__date 2018/08/28    
 .chat__messages__message__lower-content testtesttest