.side-bar__groups
 .side-bar__groups__group
  .side-bar__groups__group__name group__name
  .side-bar__groups__group__message group__message
  
 .side-bar__groups__group
  .side-bar__groups__group__name group__name2
  .side-bar__groups__group__message group__message2