	<div class="notification"></div>

	<div class="wrapper"></div>
    <div class="side-bar">
    	<div class="header"></div>
    	<div class="group"></div>
    </div>

    <div class="chat">
      <div class="header"></div>
      <div class="messages"></div>
      <div class="form"></div>
    </div>
 