.chat__header { 
 box-sizing: border-box;
 height: 100px;
 padding: 0 40px;
 border-color: black;
 border: 1px solid #eeeeee;
 &__left {
  float: left;
  &__title {
   color: #333333;
   font-size: 20px; 
   padding-top: 35px;
  }
  &__members {
   color: #999999;
   font-size: 12px; 
   padding-top: 15px;
  }
 }
 &__right {
  color: #38AEF0;
  margin-top: 28px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #38AEF0;
  float: right;
  a {
   color: #38AEF0;
  }
 }
}


.chat__messages {
 background-color: #AAAAAA;
 box-sizing: border-box;
 height:  calc(100vh - 100px - 90px);
 padding: 46px 40px 0;
 overflow: scroll;
 &__message {
  margin-bottom: 40px;
  &__upper {
   display: flex;		
   &__user-name {
    color: #434A54;
    font-size: 16px;
    font-weight: bold;
   }
  &__date {
   color: #999999;
   font-size: 12px;
   float: right;
   padding-left: 10px;
  }		
 }
 &__lower-content {
  color: #434A54;
  font-size: 14px;
 }
}	


.chat__form {
 box-sizing: border-box;
 height: 90px;
 padding: 20px 40px;	
 &__query {
  background-color: #f0f0f0;
  box-sizing: border-box;
  width: calc(100% - 125px);
  float: left;
  color: #434A54;
  font-size: 16px;
  line-height: 50px;
  &__p {
   padding-left: 10px;
  }
 }
 ul {
  float: left;
  padding-right: 10px;
  line-height: 50px;
 }
 &__bottun {
  background-color: #38AEF0;
  font-size: 16px;
  line-height: 50px;
  margin-left: 15px;
  padding: 0 20px;
  float: right;
  a {
   color: white;
  }
 }
}
