.notification {
  background-color: #38AEF0;
  height: 20px;
  width: 100%;
  color: white;
  font-size: 12px;
  text-align: center; 
}

.side-bar {
  width: 300px;
  box-sizing: border-box;
  float: left;
}

.chat {
  width: calc(100vw - 300px);
  float: left;
}