.side-bar__header {
　　background-color: #253141; 
　　height: 100px;
　　line-height: 100px;
　　padding: 0 20px;
　　color: white;
　　font-size: 16px;
　　font-weight: bold;
　　&__lists {
　　　display: flex;
　　　float: right;
　　　align-items: flex-end;
　　　li {
　　　　color: white;
　　　　list-style: none;
　　　　padding-left: 8px;
　　}
　}
}

.side-bar__groups {
　background-color: #2f3e51;
　height: calc(100vh - 100px);
　padding: 0 20px;
　&__group {
　　padding: 20px 0px 40px;
　　&__name{
　　　font-size: 15px;
　　　color: #FFFFFF;
　　}
　　&__message{
　　　font-size: 11px;
　　　color: #FFFFFF;
　　　padding-top: 5px;
　　　}
　}
}
